@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@400;500&family=Nunito:wght@300;400;600;700&display=swap');

* {
  margin: 0;
  padding: 0;
}

body {
  background-color: $white;
  box-sizing: border-box;

  font-family: 'Fira Code', Arial, Helvetica, sans-serif;
  font-size: 16px;
}

body, input, button {
  color: $black;
}

#app {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100vh;
}

button {
  &:hover {
    cursor: pointer;
  }
}

h1, .h1 {
  font-size: 2.44rem;
}

h2, .h2 {
  font-size: 1.56rem;
}

h3, .h3 {
  font-size: 1.25rem;
}

small, .small {
  font-size: 0.64rem;
}