$primary: #41B883;
$secondary: #51CAD9;
$error: #EF5B5F;
$black: #010910;
$black90: #0E151C;
$black95: #1A2228;
$black75: #40464C;
$black50: #808487;
$black25: #BFC1C3;
$black10: #E6E6E7;
$white: #EEF6F3;